.container {
    max-width: 500px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label, input {
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  #message {
    margin-top: 20px;
    text-align: center;
  }
  